$brand-primary: #6b9bc0;
$brand-secondary: #ce7729;
$brand-success: #b3c86a;
$brand-warning: #e9c063;
$brand-danger: #ce7729;

$grid-gutter-width: 30px;
$container-large-desktop: (640px + $grid-gutter-width);
$container-desktop: (640px + $grid-gutter-width);
$container-tablet: (640px + $grid-gutter-width);
$grid-float-breakpoint: 320px;

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
